h1,h2,p{
    text-align: center;
    color: black;
    column-count: auto;

}

body{
    background-size: 48%;
    background-position: 48%;
    background-image: url(https://img.ifunny.co/images/f5375c4eecd601d05c169011969bb128a1c3953b0309884b0f7e1db173b59621_1.webp);
}

.lomba{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color:rosybrown;
    border-image: auto;
    image-resolution: 720px;

}



